.blog{
    display: flex;

}
.blog-main{
    
}



.Latest-News{
display: flex;
margin-left: 60px;
margin-top: 120px;

}

.titli{
    margin-left: 30px;
}

.tarix{
   font-size: 12px;
}

.xet{
margin-left: 50px;

    width: 450px;
    height: 1px;
   color: black;
   background-color: black;
}


h2{
    margin-left: 60px;
    margin-top: 0px;
}
